@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for HTML from database (instructions, etc) */
.h3 {
  font-family: "Source Serif Pro", "serif";
  font-size: 1.5rem;
  font-weight: 600;
}

.h5 {
  font-family: "Source Serif Pro", "serif";
  font-size: 1.2rem;
  font-weight: 600;
}

.p {
  margin-bottom: 23px;
}

.p-no-margin {
  margin-bottom: 0;
}

.image-border {
  border: 1px solid #5e636e;
}

.hr {
  margin: 44px 0 38px;
  border: 0;
  border-top: 1px solid #eee;
}
